.trip-card {
    display: flex;
    align-items: center;
    max-width: 250px;
    margin: 10px 0;
    min-width: 262px;
}

.trip-img-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 15px;
    flex-shrink: 0;
}

.trip-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trip-dest-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trip-dest-info h5 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
    color: #222;
}

.trip-dest-info .place-name {
    margin-top: 3px;
    font-size: 0.9em;
    color: #555;
    font-weight: 400;
}
.trip-dest-info h5, .trip-dest-info .place-name {
    white-space: nowrap; /* Prevent the text from wrapping to the next line */
    overflow: hidden;    /* Hide the overflowed content */
    text-overflow: ellipsis; /* Add ellipsis (...) at the end of the text */
}
