.categories-container {
    justify-content: center;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.16);
    z-index: 100;
    position: fixed;
    width: 100%;
    // margin-top: 80px;
    background-color: white;

    padding-top: 107px;
    margin: auto;
    display: flex;
    // flex-direction: column;
    height: 185px;
}

.categories {
    justify-content: center;
    // align-items: center;
    position: relative;
    justify-items: center;

    width: 100%;
    display: flex;
    // flex-direction: row;
}

.wrapper {
    position: relative;
    width: 100%;
}

.slick-slider {
    // padding-top: 10px;
    // padding-bottom: 10px;
    display: flex;
    // width: 1000px !important;
    // max-width: 1000px !important;
}

.slick-list {
    // padding-top: 10px;
    // padding-bottom: 10px;
    // display: flex;
    // width: 1000px !important;
    // max-width: 1000px !important;
    width: -webkit-fill-available;
}

.slick-track {
    display: flex;
    // width: 100% !important;
    // height: 56px;
}

.slick-slide {
    padding: 0 10px;
}

.prev, .next {
    position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    align-items: center;
    background-color: #fff;
    border: 2px solid #dedede;
    border-radius: 16px;
    display: flex;
    height: 29px;
    justify-content: center;
    padding: 5px;
    transition: box-shadow .2s ease 0s;
    width: 29px;
    box-shadow: 0 0 11px 21px #fff;
}

.prev {
    bottom: 35px;
    left: 0px;
}

.next {
    right: 0px;
    top: 14px;
}

.bg-image-container {
    position: relative;
    // width: 100%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
}

.bg-image-container:hover {
    opacity: 1;
}

.text-container {
    width: 92px;
    font-size: 12px;
    color: #000;
    text-align: center;
    font-family: var(--main-fnt);
    margin-top: 12px;
}

.categories-container.scrolling:after {
    left: 0;
    right: 0;
    transition: box-shadow .2s ease;
}

.categories-container:after {
    bottom: 0;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .16);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    transition: box-shadow .2s ease;
    z-index: -1;
}
