.categories-container {
    justify-content: center;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.16);
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: white;
    padding-top: 100px;
    margin: auto;
    display: flex;
}

.categories {
    justify-content: center;
    position: relative;
    cursor: pointer;
    justify-items: center;
    width: 100%;
    display: flex;
    padding: 0px 80px;
}

.wrapper {
    position: relative;
    width: 100%;
}

.slick-slider {
    width: 100%;

}

.slick-list {
    width: -webkit-fill-available;
    width: 100%;
    overflow: hidden;
    border-radius: 5%;
}

.slick-track {
    display: flex;
}

.slick-slide {
    // width: auto !important;
}

.prev_category, .next_category {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    align-items: center;
    background-color: #fff;
    border: 2px solid #dedede;
    border-radius: 16px;
    display: flex;
    height: 29px;
    justify-content: center;
    padding: 5px;
    transition: box-shadow .2s ease 0s;
    width: 29px;
    box-shadow: 0 0 11px 21px #fff;
}

.prev_category {
    bottom: 25px;
    left: -4px;
}

.next_category {
    right: -4px;
    top: 11px;
}

.slick-dots li button {
    font-size: 0;
    opacity: 0;
    padding: 0px !important;
}

.slick-dots {
    display: flex !important;
    position: absolute;
    top: 79%;
    cursor: pointer;
    fill: white;
    font-size: 20px;
    justify-content: center;
    width: -webkit-fill-available;
}

.slick-dots li.slick-active{
    color: white;
    opacity: 1 !important;
}

.slick-dots li {
    color: #fff;
    opacity: 0.7;
}

.category {
    display: grid;
    width: 100px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.category:hover .bg-image-container,
.category:hover .text-container {
    color: black;
    opacity: 1;
}

.bg-image-container {
    position: relative;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.text-container {
    width: 100px;
    font-size: 12px;
    color: #838383;
    text-align: center;
    font-family: AirbnbCereal;
    margin-top: 12px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.category:hover .bg-image-container {
    opacity: 1;
}

.category:hover .text-container {
    color: black;
}

.category::after {
    content: "";
    height: 2px;
    width: 54px;
    background-color: #ffffff;
    margin-left: 23px;
    margin-top: 7px;
}

.category:hover::after {
    background-color: #c6c4c4;
}

.slider-container {
    position: relative;
}

.prev_pic, .next_pic {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #dedede;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    width: 29px;
    transition: opacity .3s ease;
}

.prev_pic {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.next_pic {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-container:hover .prev_pic,
.slider-container:hover .next_pic {
    opacity: 1;
}

.prev_pic, .next_pic {
    opacity: 0;
}
