.filter-container{
    align-items: center;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .078), 0 4px 12px rgba(0, 0, 0, .051);
    color: #212121;
    cursor: pointer;
    display: inline-flex;
    min-width: 348px;
    margin-left: px;
    vertical-align: middle;
    white-space: nowrap;
    padding-inline-start: 8px;
}
.filter-container:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.filter-button{
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgb(34, 34, 34);
    cursor: pointer;
    flex-grow: 1;
    font-size: 14px;
    line-break: strict;
    margin: -1px;
    min-width: 80px;
    padding: 12px 16px;
    text-align: inherit;
    font-weight: 500;
}
.filter-splitter {
    background-color: var(--clr-splitter);
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
}
.filter-add-guests {
    color: rgb(106, 106, 106);
    font-weight: 400;
}
.mini-search-button{
    background-color: var(--clr-btn);
    border: transparent;
    border-radius: var(--circle-rad);
    color: #fff;
    height: 32px;
    margin: 7px;
    min-width: 32px;
    padding: 10px;
}
.mini-search-button .svg .path {
    color: white;
}
.filter-container-big {
    background-color: #EBEBEB;
    border: 1px solid #dedede;
    border-radius: 40px;
    cursor: pointer;

    flex: 1 1;
    height: 66px;
    margin: 0 auto;
    max-width: 850px;
    min-width: 820px;
    pointer-events: auto;
    position: relative;
    text-align: left;
}

.filter-container-big .search-category {
    position: relative;
    border-radius: 32px;
    letter-spacing: .04em;
    line-height: 1rem;
    padding: 12px 30px;
    width: 100%;
}

.filter-container-big .search-category input {
    background: none;
    font-size: 14.5px;
    font-family: 'AirbnbCereal';
}

.filter-container-big .search-category input:focus {
    outline: none;
}

.filter-container-big .search-category:hover {
    background-color: #DDDDDD;
}

.filter-container-big .search-category:focus {
    background-color: #e41010;
}

.filter-container-big .guests-button {
    padding: 0;
    min-width: 30%;
}

.filter-container-big .guests-button .guests-text {
    padding: 0 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filter-container-big .big-search-button {
    height: 48px;
    margin: 7px;
    min-width: 105px;
    padding: 16px;
    gap: 3%;
    border-radius: 30px;
    position: relative;
    display: flex; /* Add this line to align children in a row */
    align-items: center; /* Aligns the SVG and h5 vertically center */
}

.filter-container-big .big-search-button h5 {
    margin-top: 9px;
    margin-left: 3px;
    font-size: 16px;
    font-weight: 500;
}

.search-button-filter{
    height: 19px !important;
    width: 19px !important;
}

.big-search-button .svg {
    display: flex; /* Ensures the SVG and h5 stay in a row */
}

.big-search-button .svg .path {
    color: white;
    padding-bottom: 10px;
}

.filter-container-big .search-category.active {
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}

.filter-container-big .search-category.location.active,
.filter-container-big .search-category.guests-button.active {
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}

.filter-container-big .search-category.check-in.active-check-in {
    background-color: #ffffff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}

.filter-container-big .search-category.check-out.active-check-out {
    background-color: #ffffff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}

.filter-container-big .big-search-button.active {
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}

.filter-header{
    color: #222222;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
}

.dynamic-filter-component {
    width: 100%;
    background-color: white;
    border-radius: 40px;
}
.check-in-out{
    min-width: 40%;
}
.locations-photos{
    column-gap: 5px;
    column-gap: 15px;
    margin-top: 15px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
}
.main-location-filter {
    padding: 20px;
}

.locations-filter-header {
    font-size: 1.0rem;
    font-weight: bold;
    margin-left: 10px;
}

.region {
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    height: 148px;
    width: 118px;  }
.region:hover{
    background-color: #ededed;
}
.region-photo-container {
    width: 90%;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 6px;
    border: 0.5px solid #a6a5a5;
    margin-top: 10px;
}

.region-photo-container:hover{
    border: 0.5px solid black;
}

.region-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.region-name {
    margin-top: 10px;
    text-align: left;
    line-height: 1.125rem;
    font-size: 14px;
    margin-left: 8px;
    font-weight: 400;
}
.css-1juxbee-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected{
background-color: rgb(34, 34, 34) !important;
}
.css-grqin-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected{
background-color: rgb(34, 34, 34) !important;
}

.css-tbuks1-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected{
    background-color: rgb(34, 34, 34) !important;
}
.css-1ny3jyh-MuiDateRangePickerDay-root {
    color: #fff;
    background-color: rgb(247, 247, 247) !important;
}
.css-f8wito-MuiDateRangePickerDay-root {
    color: #fff;
    background-color: rgb(247, 247, 247) !important;

}
.css-1jt0kfk-MuiDateRangePickerDay-root {
    background-color: rgb(247, 247, 247) !important;
    color: #fff;

}
.css-jef1b6-MuiDateRangeCalendar-container:not(:last-of-type) {
    border-right: none !important;
}
.css-gqp4xl-MuiPickersLayout-root .MuiPickersLayout-toolbar{
    display: none !important;
}
.main-date-filter .date-tabs {
    background-color: #ebebeb;
    border-radius: 100px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    margin: 0 auto;
    gap:3px;
    max-width: 303px;
    padding-left: 4px;
    padding-right: 4px;
}
.main-date-filter .date-tabs .date-tabs-button {
    border-radius: 100px;
    color: #212121;
    cursor: pointer;
    display: grid;
    place-content: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 4px;
    margin-right: 0;
    margin-top: 4px;
    outline: none;
    overflow: hidden;
    padding: 8px 12px;
    position: relative;
    text-overflow: ellipsis;
    transition: box-shadow .2s ease 0s, -webkit-transform .1s ease 0s, transform .1s ease 0s;
    white-space: nowrap;
}
.active {
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}
.date-tabs-button:hover {
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}
