.filter-container{
    align-items: center;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .078), 0 4px 12px rgba(0, 0, 0, .051);
    color: #212121;
    cursor: pointer;
    display: inline-flex;
    min-width: 348px;
    margin-left: px;
    vertical-align: middle;
    white-space: nowrap;
    padding-inline-start: 8px;
}
.filter-button{
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #212121;
    
    cursor: pointer;
    flex-grow: 1;
    font-size: 14px;
    line-break: strict;
    margin: -1px;
    min-width: 80px;
    padding: 12px 16px;
    text-align: inherit;
}
.filter-splitter {
    background-color: var(--clr-splitter);
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
}
.filter-add-guests {
    color: #707070;
    
}
.mini-search-button{
    background-color: var(--clr-btn);
    border: transparent;
    border-radius: var(--circle-rad);
    color: #fff;
    height: 32px;
    margin: 7px;
    min-width: 32px;
    padding: 10px;
}
.mini-search-button .svg .path {
    color: white;
}
.filter-container-big {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 40px;
    cursor: pointer;
    
    flex: 1 1;
    height: 66px;
    margin: 0 auto;
    max-width: 850px;
    min-width: 820px;
    pointer-events: auto;
    position: relative;
    text-align: left;
}

.filter-container-big .search-category {
    position: relative;
    border-radius: 32px;
    letter-spacing: .04em;
    line-height: 1rem;
    font-family: var(--main-fnt);
    padding: 14px 32px;
    width: 100%;
}

.filter-container-big .search-category input {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
}

.filter-container-big .search-category input:focus {
    outline: none;
}

.filter-container-big .search-category:hover {
    background-color: #dedede;
}

.filter-container-big .guests-button {
    padding: 0;
    min-width: 30%;
}

.filter-container-big .guests-button .guests-text {
    padding: 0 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filter-container-big .big-search-button {
    height: 48px;
    margin: 7px;
    min-width: 48px;
    padding: 16px;
    position: relative;
}

.dynamic-filter-component {
    width: 100%;
    background-color: white;
    
    padding: 20px;
    border-radius: 8px;
}
.check-in-out{
    min-width: 40%;
}
.locations-photos{
    column-gap: 5px;
    column-gap: 15px;
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
}
.main-location-filter {
    padding: 20px;
  }
  
  .locations-filter-header {
    font-size: 1.0rem;
    margin-bottom: 10px;
  } 
  
  .region {
    text-align: center;
  }
  
  .region-photo-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
  }
  .region-photo-container:hover{
    border: 0.5px solid black;
  }
  
  .region-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .region-name {
    margin-top: 10px;
    text-align: left;
    font-size: 1.2em;
  }
  .css-1juxbee-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected{
    background-color: black !important;
  }
  .css-grqin-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected {
    background-color: black !important;
}
.ant-popover-inner{
    border-radius: 50px !important;
}

  
 
