.header{
    background: white;
    display: grid;
    grid-template-columns: 120px 1fr 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.header-container{
    grid-row: 1;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    top: 0;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.header-logo{
    grid-column: 1;
    // padding-left: 14px;
}

.header-filter{
    grid-column: 2;
    text-align: center;
}

.header-user{
    grid-column: 3;
    align-items: center;
    justify-content: right;
}

.airbnb-icon{
    color: #ff385c;
    height: 40px;
    width: 40px;
}

.airbnb-header{
    margin: 7px 7px;
    color: #ff385c;
    font-size: 24px;
    letter-spacing: -1px;
}

.switch-to-host{
    color: #858585;
    font-size: 14px;
    margin-top: 8px;
}

.user-menu {
    border-radius: 50px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    transition: box-shadow .3s;
    position: relative;
    padding: 5px 5px 5px 10px;
    align-items: center;
}

.user-dropdown {
    display: block;
    fill: none;
    height: 20px;
    width: 20px;
    stroke: #656565;
    stroke-width: 3;
    overflow: visible;
    margin-right: 6px;
    margin-top: 5px;
}

.user-profile-pic {
    display: block;
    height: 30px;
    width: 30px;
    fill: #656565;
    stroke: #656565;

}
.filter-nav-container .nav-button {
    border: none;
    color: #212121;
    padding: 10px 16px;
    background: transparent;
}
.filter-nav-container{
    gap:20px
}

.screen-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0,0,0, 0.25); 
    z-index:1000; 
}
.big-header-margin-bottom{
    padding-bottom: 84px;
}

