.menu-bar {
    margin-top: -12px;
    width: 100%;
    flex-direction: column;
    border-radius: 9px !important;
    background: #fff;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .12) !important;
    display: block;
    min-width: 234px;
    padding: 8px 0 !important;
    position: absolute;
    right: 0;
}

.menu-item {
    padding: 11px 17px;
    font-size: 14px;
    font-family: 'AirbnbCereal',sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #f0f0f0;
    color: #000;
}
