.buttons-order-div{
    // padding-right: 30px;
    height: 100%;
    width: 100%;
}
.orders-table td:nth-child(1) {
    min-width: 170px;


}
.orders-table td:nth-child(2) {
    min-width: 100px;

}
.orders-table td:nth-child(3) {
    min-width: 250px
}
.orders-table td:nth-child(6) {
    max-width: 300px
}
