.stay-preview {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 1fr 100px;
    border-radius: 5%;
    cursor: pointer;
    max-width: 300px;
    justify-content: center;
    position: relative;
    min-height: 340px;
    padding-bottom: 20px;

    > * {
        // grid-column: 1;

        &.full {
            grid-column: 1 /-1;
        }
    }
}

.stay-preview .card-top {
    margin-left: 6px;
    margin-bottom: 0;
    grid-row: 1;
    position: relative;

    > p {
        margin-bottom: 0;
    }
}

.stay-preview .card-bottom {
    grid-row: 2;
    margin-left: 6px;
    margin-bottom: 0;
    margin-top: 10px;

    > p {
        margin-bottom: 0;
    }
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.star-reviews {
    display: flex;
    align-items: center;
    color: #222222;
    white-space: break-spaces;
}

.stay-img {
    object-fit: cover;
    border-radius: 5%;
    width: 100%;
    aspect-ratio: 1.053 / 1;
}

// .heart-icon {
//     position: absolute;
//     z-index: 10;
//     top: 0;
//     right: 0;
//     margin: 8px;
//     fill: rgba(0, 0, 0, 0.5);;
// }

.heart-icon {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    margin: 8px;
    fill: rgba(0, 0, 0, 0.5);
}

.heart-icon svg {
    display: block;
    height: 26px;
    width: 26px;
    stroke: white;
    stroke-width: 3px;
    overflow: visible;
}

.heart-icon.pressed {
    fill: red !important;
}

.heart-icon.pressed svg {
    fill: red !important;
    // stroke: red;
}

.heart-icon:hover{
    font-size:6em;
    transition: 1s ease-out;
}

.heart-icon:hover svg{
    transform: scale(1.2);

}
