.stay-preview {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 1fr 105px;
    border-radius: 5%;
    cursor: pointer;
    justify-content: center;
    position: relative;

    > * {
        grid-column: 1;

        &.full {
            grid-column: 1 /-1;
        }
    }
}

.stay-preview .card-top {
    margin-bottom: 0;
    grid-row: 1;
    position: relative;

    > p {
        margin-bottom: 0;
    }
}

.stay-preview .card-bottom {
    grid-row: 2;
    margin-top: 3px;
    color: #6A6A6A;
    font-size: 15px;

    > p {
        margin-bottom: -2px;
    }
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 550;
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-family: 'AirbnbCereal',sans-serif;
    margin-bottom: -4px;
}

.card-price{
    margin-top: 5px;
    color: black;
    font-weight: 400;
}

.star-reviews {
    display: flex;
    color: #222222;
    white-space: break-spaces;
    margin-bottom: -13px;
}

.stay-img {
    border-radius: 5%;
    aspect-ratio: 1.05 / 1;
    width: 100%;
    // max-width: 314px;
    background-size: cover;
}


.heart-icon {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    margin: 15px;
    fill: rgba(0, 0, 0, 0.5);
    stroke-width: 2px;
}

.heart-icon svg {
    display: block;
    height: 26px;
    width: 26px;
    stroke: white;
    stroke-width: 2px;
    overflow: visible;
}

.heart-icon.pressed {
    fill: red !important;
}

.heart-icon.pressed svg {
    fill: red !important;
}

.heart-icon:hover{
    font-size:6em;
    transition: 1s ease-out;
}

.heart-icon:hover svg{
    transform: scale(1.2);

}
