.wishlist{
    margin-top: 115px;
    font-size: 32px;
    font-weight: 500;
    font-family: 'AirbnbCereal',sans-serif;
}

.stay-list-wishlist{
    margin-top: -166px !important;
}

.footer-wishlist{
    position: relative !important;
}
