.login-page{
    margin-top: 100px;
}

.form-container{
    width: 100%;

}
.demo-signup-buttons{
    width: 100%;
}

.login-or-divider{
    background-color: #ffffff;
    font-size: 14px;
    text-align: justify;
    z-index: 100;
    width: 31px;
    position: relative;
    left: 48%;
    padding-left: 8px;
}

.login-or-line{
    margin-top: -18px;
    margin-bottom: 24px;
}
