.table-page-header{
    font-weight: 600;
    margin-bottom: 45px;
}
.table-page-sec-header{
    font-weight: 400;
}

.trips-table {
    width: 100%;
    border-collapse: collapse; /* Use 'separate' to enable spacing between cells */
    border-spacing: 4px; /* Adjust the gap between cells */
    margin-top: 20px;
    min-width: max-content;
    padding: 50px 0;
}

.trips-table th, .trips-table td {
    border: none;
    padding: 8px;
    text-align: center;
    border-bottom: 0.5px solid #d4d1d1;
}

.trips-table th {
    color: #9c9a9a;
    font-size: 16px;
    padding-block: 0.8em;
    padding-inline: 0.5em;
    text-align: left;
    font-weight: 500;
}

.trips-table td {
    padding-block: 0.2em;
    padding-inline: 0.5em;
    font-size: 1rem;
    color: #333; /* Dark gray for text */
    text-align: left;
}

.trips-table td:nth-child(1) {
    width: 200px; /* Set a fixed width for the first column */
}

.trips-table td:nth-child(2) {
    width: 220px;

}
.theader-container{
    gap:10px;
    min-width: max-content;
}

.trips-table td:nth-child(3) {
}

.trips-table td:nth-child(4) {
    width: 160px;
}

.trips-table td:nth-child(5) {
    color: #555; /* Medium gray for subtle text */
    width: 180px;
    font-size: 18px;

}

.trips-table td:nth-child(6) {
    width: 140px;
}

.trips-table tr:nth-child(even) {
}

/* Hover effect for rows */
.trips-table tr:hover {
    background-color: #f6f6f6; /* Slightly darker gray on hover */
}

.trips-table tr:last-child {
    border: 0 !important;
}
