* {
    box-sizing: border-box;


}



::selection {


}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

}

html {
    font-family: AirbnbCereal Arial, Helvetica, sans-serif;
    line-height: 1.6;

    scroll-behavior: smooth;
}

body {
    font-size: rem(14px);
    margin: 0;
    max-width: 100%;
    height: 100%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    
    margin: 0 0 0.6em;
    line-height: 1;
}
h1 {
    font-size: 1.625rem;
}
h2 {
    font-size: 1.5rem;
}
h3{

    font-size: 1.375rem;
}
h6{
    font-size: 1em;
}
.lil-info{
    font-size: 1rem;
    letter-spacing: .007em;
}
.smaller-info{
    font-size: 0.875rem;
    letter-spacing: .007em;
}
// .header {
//     width: 100%;
// }
// section, main, footer {
//     padding: 5px;
// }

img {
    width: 100%;
    height: 100%;
}

p {
    margin: 0 0 1em;
    
    font-size: 1em;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-column-center-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.padding {
    padding:20px
}
.center{
    justify-content: center;
}
.grid {
    display: grid;
}
.flex{
    display: flex;
}
.border{
    border: 1px solid black;
}
.semi-title{
    font-size: (var(--sub-fnt));
    margin:auto;
    width: 90%;
    height: 70px;
    border-bottom:1px solid var(--clr-fltr-spliter) ;
}
.normal-button{
    min-width: 500px;
}
.space-around{
    justify-content: space-around;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: row;
}
.just-cont-cent{
    justify-content: center;
}
.just-cont-left{
    justify-content: left;
}
.just-cont-start{
    justify-content: flex-start;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: start;
}
.align-left{
    align-items: left;
}
.border-bottom {
    border-bottom:1px  solid #dedede;
}
.pad-box{
    padding-block: 2rem;
}
.little-pad-box{
    padding-block: 1rem;
}
.pad-top{
    padding-top: 2rem;
}
.margin-box{
    margin-block: 2rem;
}

.relative {
    position: relative;
}
.inline{
    display: inline;
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.inline-btn{
    color: #212121;
    font-size: .875rem;
    background:none;
    text-decoration: underline;
}
.black-btn{
    background-color: #222;
    border: 1px solid #222;
    border-radius: 8px;
    color: #fff;

    font-size: .875rem;
    margin-right: 0;
    padding: 8px 16px;
}
.white-btn{
    align-items: center;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 8px;
    color: #222;
    display: flex;
    font-size: 1rem;
    gap: 8px;
    justify-content: center;
    line-height: 20px;
    padding: 13px 23px;
    text-align: center;
}
.white-btn:hover{

    background-color: #f0e7e7;

}
.x-btn{
    background: white;
    color: black;
    padding: 0;
    margin: 0;
}
.foggy{
    color: #717171;
    font-weight: lighter;
}
.fixed {
    position: fixed;
}
.--ag-charts-active-color {
    background-color: var(--clr-btn) !important
}
.secondary-layout{
    padding: 0 180px;
    margin-top: 50px;
    color:black
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}
.green-btn {
    
    border: 1px solid #28a745;
    color:#28a745;
    font-weight: 600;
}
.red-btn {
    border: 1px solid #dc3545;
    color: #dc3545;
    font-weight: 600;
}
.green-btn:hover {
    
    border: 1px solid #28a745;
    background-color: #28a745;
    color:white;
}
.red-btn:hover {
    border: 1px solid #dc3545;
    background-color: #dc3545;
    color: white;
}
.MuiDateRangeCalendar-root >:first-child{
    display: none;
}
.ant-popover-inner{
    padding: 30px !important;
}
.css-138poq7-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition{
    min-height: 230px !important;
}
.pointer {
    cursor: pointer;
}
.hover:hover{
    color: #ada9a9;
}
