.trips {
    padding: 0 200px;
    margin-top: 200px;
    color:black
}
.trips-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.trips-table th, .trips-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.trips-table th {
    background-color: #e7f5f9;
    color: #707070;
    font-family: cereal-Bold;
    font-size: 12px;
    padding-block: .8em;
    padding-inline: .5em;
    text-align: start;
    text-transform: uppercase;
}
.trips-table td {
    padding-block: .2em;
    padding-inline: .5em;
    font-size: 1rem;
}
.trips-table td:nth-child(1) {
    width: 200px;
    height: 100px;
}
.trips-table td:nth-child(2) {
    width: 200px;
}
.trips-table td:nth-child(3) {
    width: 130px;
}
.trips-table td:nth-child(4) {
    font-weight: 500;
    width: 140px;
}
.trips-table td:nth-child(5) {
    color: #707070;
    
    width: 130px;
    font-size: 1.2rem;
}
.trips-table td:nth-child(6) {
    
    padding-left: 30px;
    width: 140px;
}

.trips-table tr:nth-child(even) {
    background-color: #e7f5f9;
}


