


// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";

@import "basics/forms";


// Views
@import "views/AboutUs";
@import "views/HomePage";
@import "views/StayDetailsPage";
@import "views/ConfirmationPage.scss";
@import "views/LoginPage";
@import "views/CarIndex";
@import "views/TripsPage";
@import "views/ReviewIndex";
@import "views/UserDetails";
@import "views/BoardIndex";
@import "views/BoardDetails";
@import "views/TaskDetails";

// Components
@import "cmps/Header";
@import "cmps/ReservationContainer.scss";
@import "cmps/Footer";
@import "cmps/Categories";

@import "cmps/StayList";
@import "cmps/StayPreview";
@import "cmps/AppFooter";
@import "cmps/UserMsg";


:root {
    // colors
    
    --clr-btn:#FF385C;
    --clr-fltr-font:#222;
    --clr-sub-font : #707070;
    --clr-fltr-border:#DDDDDD;
    --clr-fltr-bg:white;
    --clr-fltr-spliter:#ddd;
    --clr-sub-borders:#b0b0b0;
    
    
    

    // fonts
    --main-fnt:cereal, sans-serif;
    --host-fnt :cereal-medium;
    --sub-fnt :cereal-light;
    
    

    //font-sizes
    --bold-fnt:600;
    --title-fnt-desc:1.625rem;
    --sub-fnt: 0.875rem;
    --amenity-font:1rem


    // radius
    --reserv-rad:12px;
    --circle-rad: 50%;
    --picture-rad:5%;
    --filter-rad:40px;

    

    //border
    --fltr-user-border:1px solid #DDDDDD;


    //shadow 
    --user-hvr-shad:0 2px 4px #0000002e;
    --fltr-shad:0 1px 2px #00000014,0 4px 12px #0000000d;
    --fltr-hvr-shad:0 2px 4px #0000002e;
    --categ-shad:0 0 20px 22px #fff;
    --categ-hvr-shad:0 6px 16px #0000001f;
    --reserv-shad:0 6px 16px rgba(0, 0, 0, 0.12);

  }
