


// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";

@import "basics/forms";


// Views
@import "views/HostPage.scss";
@import "views/AboutUs";
@import "views/HomePage";
@import "views/StayDetailsPage";
@import "views/ConfirmationPage.scss";
@import "views/LoginPage";
@import "views/CarIndex";
@import "views/TripsPage";
@import "views/ReviewIndex";
@import "views/UserDetails";
@import "views/BoardIndex";
@import "views/BoardDetails";
@import "views/TaskDetails";

// Components
@import "cmps/DashboardCard.scss";
@import "cmps/OrderTable.scss";
@import "cmps/DashBoard.scss";
@import "cmps/UserCard.scss";
@import "cmps/MenuBar.scss";
@import "cmps/LoginDisplay.scss";
@import "cmps/StayCard.scss";
@import "cmps/Header";
@import "cmps/Reserveation.scss";
@import "cmps/ReserveButton.scss";
@import "cmps/ReservationContainer.scss";
@import "cmps/Footer";
@import "cmps/Categories";
@import "cmps/Filter.scss";
@import "cmps/StayList";
@import "cmps/StayPreview";
@import "cmps/AppFooter";
@import "cmps/UserMsg";
@import "cmps/WishList";


:root {
    // colors

    --clr-btn:#FF385C;
    --clr-fltr-font:#222;
    --clr-sub-font : #707070;
    --clr-fltr-border:#DDDDDD;
    --clr-fltr-bg:white;
    --clr-fltr-spliter:#ddd;
    --clr-sub-borders:#b0b0b0;
    --clr-splitter:#dedede;




    // fonts
    --main-fnt:AirbnbCereal;
    --host-fnt :AirbnbCereal;
    --sub-fnt :AirbnbCereal;



    //font-sizes
    --bold-fnt:600;
    --title-fnt-desc:1.625rem;
    --sub-fnt: 0.875rem;
    --amenity-font:1rem


    // radius
    --reserv-rad:12px;
    --circle-rad: 50%;
    --picture-rad:5%;
    --filter-rad:40px;



    //border
    --fltr-user-border:1px solid #DDDDDD;


    //shadow
    --user-hvr-shad:0 2px 4px #0000002e;
    --fltr-shad:0 1px 2px #00000014,0 4px 12px #0000000d;
    --fltr-hvr-shad:0 2px 4px #0000002e;
    --categ-shad:0 0 20px 22px #fff;
    --categ-hvr-shad:0 6px 16px #0000001f;
    --reserv-shad:0 6px 16px rgba(0, 0, 0, 0.12);

  }

  @font-face {
    font-family: "AirbnbCereal";
    src: url(../fonts/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2) format("woff2");
}
